<!--Website: wwww.codingdung.com-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodingDung | Profile Template</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link type="text/css" href="../public/assets/css/userProfile.css" />
  </head>

  <body>
    <div class="container light-style flex-grow-1 container-p-y">
      <h4 class="font-weight-bold py-3 mb-4">Account settings</h4>
      <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
          <div class="col-md-3 pt-0">
            <div class="list-group list-group-flush account-settings-links">
              <a
                class="list-group-item list-group-item-action active"
                data-toggle="list"
                href="#account-general"
                >General</a
              >
              <a
                class="list-group-item list-group-item-action"
                data-toggle="list"
                href="#account-change-password"
                >Change password</a
              >
              <a
                class="list-group-item list-group-item-action"
                data-toggle="list"
                href="#account-info"
                >Info</a
              >
              <a
                class="list-group-item list-group-item-action"
                data-toggle="list"
                href="#account-social-links"
                >Social links</a
              >
            </div>
          </div>
          <div class="col-md-9">
            <form action="/admin/updateAdmin" method="post">
              <div class="tab-content">
                <div class="tab-pane fade active show" id="account-general">
                  <div class="card-body media align-items-center">
                    <img
                      src="https://bootdey.com/img/Content/avatar/avatar1.png"
                      alt
                      class="d-block ui-w-80"
                      id="profile-img"
                      style="
                        border-radius: 50% !important;
                        width: 100px !important;
                      "
                    />
                    <div class="media-body ml-4">
                      <label class="btn btn-outline-primary" for="photo-upload">
                        Upload new photo
                        <input
                          type="file"
                          id="photo-upload"
                          accept="image/*"
                          style="display: none"
                        />
                      </label>
                      &nbsp;
                      <div class="text-light small mt-1">
                        Allowed JPG, GIF or PNG. Max size of 800K
                      </div>
                    </div>
                  </div>
                  <hr class="border-light m-0" />
                  <div class="card-body">
                    <div class="form-group">
                      <label class="form-label">Username</label>
                      <input
                        type="text"
                        class="form-control mb-1"
                        value="<%= user.username %>"
                      />
                    </div>
                    <div class="form-group">
                      <label class="form-label">Name</label>
                      <input
                        type="text"
                        class="form-control"
                        value="<%= user.name %>"
                      />
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="gender">Gender</label
                      ><br />
                      <input
                        type="select"
                        class="form-control"
                        value="<%= user.gender %>"
                        id="gender"
                        name="gender"
                      />
                    </div>
                    <div class="form-group">
                      <label class="form-label">E-mail</label>
                      <input
                        type="text"
                        class="form-control mb-1"
                        value="<%= user.email %>"
                      />
                    </div>
                    <div class="form-group">
                      <label class="form-label">Mobile</label>
                      <input
                        type="mobile"
                        class="form-control"
                        value="<%= user.mobile %>"
                      />
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="account-change-password">
                  <div class="card-body pb-2">
                    <div class="form-group">
                      <label class="form-label">Current password</label>
                      <input type="password" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label class="form-label">New password</label>
                      <input type="password" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label class="form-label">Repeat new password</label>
                      <input type="password" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-right mt-3">
                <button type="submit" class="btn btn-primary">
                  Save changes</button
                >&nbsp;
                <button
                  type="button"
                  class="btn btn-default"
                  onclick="window.location.replace('/');"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
      const profilePicture = document.getElementById("profile-img");
      const photoUpload = document.getElementById("photo-upload");

      photoUpload.addEventListener("change", (event) => {
        const file = event.target.files[0];
        if (file.type.match(/image.*/)) {
          const reader = new FileReader();
          reader.readAsDataURL(file);
          reader.onload = (e) => {
            profilePicture.src = e.target.result;
          };
        } else {
          alert("Please select a valid image file.");
        }
      });
    </script>
  </body>
</html>
