<!--Website: wwww.codingdung.com-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile | CPJ ERP</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link type="text/css" href="../public/assets/css/userProfile.css" />
  </head>

  <body>
    <div class="container light-style flex-grow-1 container-p-y">
      <h4 class="font-weight-bold py-3 mb-4">Account settings</h4>
      <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
          <div class="col-md-3 pt-0">
            <div class="list-group list-group-flush account-settings-links">
              <a
                class="list-group-item list-group-item-action active"
                data-toggle="list"
                href="#personal-information"
                >Personal</a
              >
              <a
                class="list-group-item list-group-item-action"
                data-toggle="list"
                href="#professional-information"
                >Professional</a
              >
              <a
              class="list-group-item list-group-item-action"
              data-toggle="list"
              href="#other-info"
              >Other</a
              >
              <a
              class="list-group-item list-group-item-action"
              data-toggle="list"
              href="#account-social-links"
              >Social links</a
              >
            </div>
          </div>
          <div class="col-md-9">
            <form action="/<%= user.userType %>/saveProfile" method="post">
              <div class="tab-content">
                <div class="tab-pane fade active show" id="personal-information">
                  <div class="card-body media align-items-center">
                    <img
                      src="../uploads/profileImages/admins/<%= user.profilePic %>"
                      alt
                      class="d-block ui-w-80"
                      id="profile-img"
                      style="
                        border-radius: 50% !important;
                        width: 100px !important; border: 2px solid #000 ;
                      "
                    />
                    <div class="media-body ml-4">
                      <label class="btn btn-outline-primary" for="photo-upload">
                        Upload new photo
                        <input
                          type="file"
                          id="photo-upload"
                          accept="image/*"
                          style="display: none"
                          name="profilePic"
                        />
                      </label>
                      &nbsp;
                      <div class="text-light small mt-1">
                        Allowed JPG, GIF or PNG. Max size of 800K
                      </div>
                    </div>
                  </div>
                  <hr class="border-light m-0" />
                  <div class="card-body">
                    <div class="form-group">
                      <label class="form-label">Username</label>
                      <input
                        type="text"
                        class="form-control mb-1"
                        value="<%= user.username %>"
                        name="username"
                      />
                    </div>
                    <div class="form-group">
                      <label class="form-label">Name</label>
                      <input
                        type="text"
                        class="form-control"
                        value="<%= user.name %>"
                        name="name"
                      />
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="gender">Gender</label
                      ><br />
                      <input
                        type="select"
                        class="form-control"
                        value="<%= user.gender %>"
                        id="gender"
                        name="gender"
                      />
                    </div>
                    <div class="form-group">
                      <label class="form-label">E-mail</label>
                      <input
                        type="text"
                        class="form-control mb-1"
                        value="<%= user.email %>"
                        name="email"
                      />
                    </div>
                    <div class="form-group">
                      <label class="form-label">Mobile</label>
                      <input
                        type="mobile"
                        class="form-control"
                        value="<%= user.mobile %>"
                        name="mobile"
                      />
                    </div>
                  </div>
                </div>
                
                <div class="tab-pane fade" id="professional-information">
                  <div class="card-body pb-2">
                    <div class="form-group">
                      <label class="form-label">Education</label>
                      <input type="text" class="form-control" name="education" value="<%= user.education %>"/>
                    </div>
                    <div class="form-group">
                      <label class="form-label">Department</label>
                      <input type="text" class="form-control" name="department" value="<%= user.department %>"/>
                    </div>
                    <div class="form-group">
                      <label class="form-label">Skills</label>
                      <input type="text" class="form-control" name="skills" value="<%= user.skills %>"/>
                    </div>
                    <div class="form-group">
                      <label class="form-label">Languages</label>
                      <input type="text" class="form-control" name="languages" value="<%= user.languages %>"/>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="other-info">
                  <div class="card-body pb-2">
                    <div class="form-group">
                      <label class="form-label">Bio</label>
                      <textarea class="form-control" rows="5" value="<%= user.bio %>" name="bio"><%= user.bio %></textarea
                      >
                    </div>
                    <div class="form-group">
                      <label class="form-label">Birthday</label>
                      <input type="date" class="form-control" value="<%= user.birthday %>" name="birthday"/>
                    </div>
                    <div class="form-group">
                      <label class="form-label">Current Address</label>
                      <input type="text" class="form-control" value="<%= user.cAddress %>" name="cAddress"/>
                    </div>
                    <div class="form-group">
                      <label class="form-label">Permanent Address</label>
                      <input type="text" class="form-control" value="<%= user.pAddress %>" name="pAddress"/>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="account-social-links">
                  <div class="card-body pb-2">
                    <div class="form-group">
                      <label class="form-label">Twitter</label>
                      <input
                        type="text"
                        class="form-control"
                        value="<%= user.twitter %>"
                        name="twitter"
                        placeholder="https://www.twitter.com/username"
                      />
                    </div>
                    <div class="form-group">
                      <label class="form-label">Facebook</label>
                      <input
                        type="text"
                        class="form-control"
                        value="<%= user.facebook %>"
                        name="facebook"
                        placeholder="https://www.facebook.com/username"
                      />
                    </div>
                    <div class="form-group">
                      <label class="form-label">LinkedIn</label>
                      <input type="text" class="form-control" value="<%= user.linkedin %>"
                      name="linkedin"
                      placeholder="https://www.linkedin.com/in/username" />
                    </div>
                    <div class="form-group">
                      <label class="form-label">Instagram</label>
                      <input
                        type="text"
                        class="form-control"
                        value="<%= user.instagram %>"
                        name="instagram"
                        placeholder="https://www.instagram.com/username"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-right mt-3 mb-5">
                <button type="submit" class="btn btn-primary">
                  Save changes</button
                >&nbsp;
                <button
                  type="button"
                  class="btn btn-default"
                  onclick="window.location.replace('/');"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
      const profilePicture = document.getElementById("profile-img");
      const photoUpload = document.getElementById("photo-upload");

      photoUpload.addEventListener("change", (event) => {
        const file = event.target.files[0];
        if (file.type.match(/image.*/)) {
          const reader = new FileReader();
          reader.readAsDataURL(file);
          reader.onload = (e) => {
            profilePicture.src = e.target.result;
          };
        } else {
          alert("Please select a valid image file.");
        }
      });
    </script>
  </body>
</html>
